{% load staticfiles %}
<HTML>

<HEAD>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/restodab.css' %}">

<TITLE>Consumicion</TITLE>

</HEAD>

<body background= "/static/img/resto.jpg">

<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header">
<h1>{{ titulo }}</h1>
</div>
    {% for con in consumicion %}
        <div>
            <h4>{{ con.nombre }}</h4>
            <h4>Precio: {{ con.precio }}</h4>
            <br>
        </div>
    {% endfor %}
</div>

</BODY>

</HTML>
