{% load staticfiles %}
<HTML>

<HEAD>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/restodab.css' %}">

<TITLE>Breackfast</TITLE>

</HEAD>

<body background= "/static/img/resto.jpg">

<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header"> 
<h1>Breackfast</h1>
</div>

    {% for bre in breack %}
        <div>
            <h4>{{ bre.nombre }}</h4>
            <h4>Precio: {{ bre.precio }}</h4>
            <br>
        </div>
    {% endfor %}
</div>
<a href="{% url 'restodab.views.post_list' %}"><button type="button" class="btn btn-primary btn-lg">Atras</button></a>
</BODY>

</HTML>
