<HTML>

<HEAD>

<TITLE>Un Titulo para el Browser de turno </TITLE>

</HEAD>

<BODY>
<div>
        <h1><a href="/">Restodab</a></h1>
</div>
<br>
<h2><a href="{% url 'restodab.views.listar_bebida' %}">Bebidas</a></h2>
<br>
<h2><a href="{% url 'restodab.views.listar_lanch' %}">Lanch</a></h2>
<br>
<h2><a href="{% url 'restodab.views.listar_postre' %}">Postre</a></h2>
<br>
<h2><a href="{% url 'restodab.views.listar_guarnicion' %}">Guarnicion</a></h2>
<br>
<h2><a href="{% url 'restodab.views.listar_breackfast' %}">Breackfast</a></h2>


</BODY>

</HTML>
