<HTML>

<HEAD>

<TITLE>Un Titulo para el Browser de turno </TITLE>
<style>    
	.trans{
      background-color:white;
      color:black;
      position:center;
      text-align:center;
   	  width:50%;
	  margin: 0 auto;
    }
</style>
</HEAD>

<body background= "/static/resto.jpg">

<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header"> 
<h1>Postres</h1>
</div>


    {% for post in postre %}
        <div>
            <p>Nombre: {{ post.nombre }}</p>
            <p>Precio: {{ post.precio }}</p>
            <br>
        </div>
    {% endfor %}

</BODY>

</HTML>
