{% load staticfiles %}
<HTML>

<HEAD>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/restodab.css' %}">

<TITLE>Postre</TITLE>

</HEAD>

<body background= "/static/img/resto.jpg">

<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header"> 
<h1>Postres</h1>
</div>

    {% for post in postre %}
        <div class="checkbox">
            <font size=4><input type="checkbox" value="{{ post.precio }}">{{ post.nombre }}</font>
            <h4>Precio: {{ post.precio }}</h4>
            <br>
        </div>
    {% endfor %}
</div>
<a href="{% url 'restodab.views.post_list' %}"><button type="button" class="btn btn-primary btn-lg">Atras</button></a>
</BODY>

</HTML>
