.trans{
      background-color:white;
      color:black;
      position:center;
      text-align:center;
   	  width:50%;
	  margin: 0 auto;
    }

h1 {
        color: blue;
        font-family: 'Lobster';
    }

.header{
	background-color: red;
        margin-bottom: 100px;
        margin-right: 20px;
	margin-left: 20px;
        margin-top: 100px;
}
